/* === ROOT VARIABLES === */
:root {
    --cream: #F6F1EE;
    --dark: #4F4A45;
    --stone: #6C5F5B;
    --orange: #ED7D31;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--cream);
    color: var(--dark);
}

/* CONTAINER */
.container-voucher {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

/* TITLE */
.title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--stone);
    letter-spacing: 1px;
}

/* CARD BOX */
.card-voucher {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    padding: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border: 2px dashed var(--stone);
    transition: 0.4s ease;
}

.card-voucher:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    border: 2px solid var(--orange);
}

/* VOUCHER INFO */
.code {
    font-size: 26px;
    font-weight: 700;
    color: var(--orange);
}

.status {
    padding: 5px 12px;
    border-radius: 12px;
    font-size: 14px;
    color: #fff;
}

.status.available {
    background: var(--stone);
}

.status.used {
    background: crimson;
}

/* DATE BADGE */
.expired {
    font-size: 13px;
    color: var(--dark);
    opacity: 0.9;
}

/* BUTTON */
.btn-add {
    display: inline-block;
    padding: 12px 22px;
    background: var(--orange);
    color: white;
    font-weight: 600;
    border-radius: 14px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-add:hover {
    background: var(--stone);
}

/* FORM INPUT */
.form-box {
    background: white;
    padding: 25px;
    border-radius: 14px;
    border-left: 6px solid var(--orange);
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

input, select {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--stone);
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 12px;
}

input:focus {
    border-color: var(--orange);
    outline: none;
    box-shadow: 0 0 6px rgba(237, 125, 49, 0.6);
}